body{
    margin:0;
    font-family: Arial, sans-serif;
    background: #011F3F;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    margin-bottom: 10px;
}
.simon-board{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.quarter{
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border: 5px solid #011F3F;
    cursor: pointer;
    transition: all 0.2s;
}
.green{
     background: #0EBE3A;
     border-top-left-radius: 100%;
}
.red{
    background: #FF4C4C;
    border-top-right-radius: 100%;
}
.yellow{
    background: #FFD93D;
    border-bottom-left-radius: 100%;
}
.blue{
    background: #1C6DD0;
    border-bottom-right-radius: 100%;
}
.quarter.flash {
    opacity: 0.5;
    transform: scale(1.1);
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #011F3F;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.controls{
    margin-top: 10px;
}
button{
    padding: 10px 20px;
    margin: 0px 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}
#start-btn{
    background: #0EBE3A;
    color: white;
}
#reset-btn{
    background: #FF4C4C;
    color: white;
}
button:hover {
    opacity: 0.8;
}
button:active {
    transform: scale(0.95);
}